In [30]:
import pandas as pd
from sqlalchemy import create_engine

In [31]:
musical_list = "Resources/Musical_List.csv"
musical_list_df = pd.read_csv(musical_list)
musical_list_df.head()

,Rank,Released,Movie,Worldwide Box Office,Domestic Box Office,International Box Office
0,1,2013,Frozen,"$1,267,856,756","$400,953,009","$866,903,747"
1,2,2017,Beauty and the Beast,"$1,255,080,655","$504,014,165","$751,066,490"
2,3,2017,Coco,"$798,237,597","$210,460,015","$587,777,582"
3,4,2016,Moana,"$636,155,760","$248,757,044","$387,398,716"
4,5,2008,Mamma Mia!,"$603,604,074","$144,130,063","$459,474,011"

In [32]:
streaming_list = "Resources/Streaming_Platform.csv"
streaming_list_df = pd.read_csv(streaming_list)
streaming_list_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [33]:
merged_df = pd.merge(musical_list_df, streaming_list_df, right_on = "Title", left_on = "Movie")

merged_df.head()

,Rank,Released,Movie,Worldwide Box Office,Domestic Box Office,International Box Office,Unnamed: 0,ID,Title,Year,...,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,1,2013,Frozen,"$1,267,856,756","$400,953,009","$866,903,747",16243,16244,Frozen,2013,...,0,0,0,1,0,"Chris Buck,Jennifer Lee","Animation,Adventure,Comedy,Family,Fantasy,Musical",United States,"English,Norwegian",102.0
1,3,2017,Coco,"$798,237,597","$210,460,015","$587,777,582",16221,16222,Coco,2017,...,0,0,0,1,0,"Lee Unkrich,Adrian Molina","Animation,Adventure,Family,Fantasy,Music,Mystery",United States,"English,Spanish",105.0
2,4,2016,Moana,"$636,155,760","$248,757,044","$387,398,716",16242,16243,Moana,2016,...,0,0,0,1,0,"Ron Clements,John Musker,Don Hall,Chris Williams","Animation,Adventure,Comedy,Family,Fantasy,Musical",United States,English,107.0
3,6,2010,Tangled,"$585,574,317","$200,821,936","$384,752,381",16246,16247,Tangled,2010,...,0,0,0,1,0,"Nathan Greno,Byron Howard","Animation,Adventure,Comedy,Family,Fantasy,Musi...",United States,English,100.0
4,9,2012,Les Mis√©rables,"$438,420,442","$148,809,770","$289,610,672",5328,5329,Les Mis√©rables,2019,...,0,0,1,0,0,Tom Hooper,"Drama,History,Musical,Romance,War","United Kingdom,United States",English,158.0

In [34]:
streamable_df = merged_df[['Rank', 'Released', 'Movie', 'Netflix', 'Hulu', 'Prime Video', 'Disney+']]

streamable_df.head()

   Rank  Released           Movie  Netflix  Hulu  Prime Video  Disney+
0     1      2013          Frozen        0     0            0        1
1     3      2017            Coco        0     0            0        1
2     4      2016           Moana        0     0            0        1
3     6      2010         Tangled        0     0            0        1
4     9      2012  Les Mis√©rables        0     0            1        0

In [35]:
streamable_df = streamable_df.replace([1], ['Yes'])
streamable_df = streamable_df.replace([0], [''])

streamable_df.head()

  Rank  Released           Movie Netflix Hulu Prime Video Disney+
0  Yes      2013          Frozen                              Yes
1    3      2017            Coco                              Yes
2    4      2016           Moana                              Yes
3    6      2010         Tangled                              Yes
4    9      2012  Les Mis√©rables                      Yes

In [36]:
movie_info_df = merged_df[['Movie', 'Released', 'Directors', 'Genres', 'Country', 'Language', 'Runtime']]

movie_info_df.head()

,Movie,Released,Directors,Genres,Country,Language,Runtime
0,Frozen,2013,"Chris Buck,Jennifer Lee","Animation,Adventure,Comedy,Family,Fantasy,Musical",United States,"English,Norwegian",102.0
1,Coco,2017,"Lee Unkrich,Adrian Molina","Animation,Adventure,Family,Fantasy,Music,Mystery",United States,"English,Spanish",105.0
2,Moana,2016,"Ron Clements,John Musker,Don Hall,Chris Williams","Animation,Adventure,Comedy,Family,Fantasy,Musical",United States,English,107.0
3,Tangled,2010,"Nathan Greno,Byron Howard","Animation,Adventure,Comedy,Family,Fantasy,Musi...",United States,English,100.0
4,Les Mis√©rables,2012,Tom Hooper,"Drama,History,Musical,Romance,War","United Kingdom,United States",English,158.0

In [37]:
#Update the below connection statement with your password before progressing 
rds_connection_string = "postgres:{password}!@localhost:5432/Movie_ETL"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [38]:
engine.table_names()

['Streaming_Info', 'Movie_Info']

In [39]:
streamable_df.to_sql(name = "Streaming_Info", con=engine, if_exists='replace', index = False)

In [40]:
movie_info_df.to_sql(name = "Movie_Info", con=engine, if_exists='replace', index = False)