In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
musical_list = "Resources/Musical_List.csv"
musical_list_df = pd.read_csv(musical_list)
musical_list_df.head()

,Rank,Released,Movie,Worldwide Box Office,Domestic Box Office,International Box Office
0,1,2013,Frozen,"$1,267,856,756","$400,953,009","$866,903,747"
1,2,2017,Beauty and the Beast,"$1,255,080,655","$504,014,165","$751,066,490"
2,3,2017,Coco,"$798,237,597","$210,460,015","$587,777,582"
3,4,2016,Moana,"$636,155,760","$248,757,044","$387,398,716"
4,5,2008,Mamma Mia!,"$603,604,074","$144,130,063","$459,474,011"

In [9]:
streaming_list = "Resources/Streaming_Platform.csv"
streaming_list_df = pd.read_csv(streaming_list)
streaming_list_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [16]:
merged_df = pd.merge(musical_list_df, streaming_list_df, right_on = "Title", left_on = "Movie")

merged_df

,Rank,Released,Movie,Worldwide Box Office,Domestic Box Office,International Box Office,Unnamed: 0,ID,Title,Year,...,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,1,2013,Frozen,"$1,267,856,756","$400,953,009","$866,903,747",16243,16244,Frozen,2013,...,0,0,0,1,0,"Chris Buck,Jennifer Lee","Animation,Adventure,Comedy,Family,Fantasy,Musical",United States,"English,Norwegian",102.0
1,3,2017,Coco,"$798,237,597","$210,460,015","$587,777,582",16221,16222,Coco,2017,...,0,0,0,1,0,"Lee Unkrich,Adrian Molina","Animation,Adventure,Family,Fantasy,Music,Mystery",United States,"English,Spanish",105.0
2,4,2016,Moana,"$636,155,760","$248,757,044","$387,398,716",16242,16243,Moana,2016,...,0,0,0,1,0,"Ron Clements,John Musker,Don Hall,Chris Williams","Animation,Adventure,Comedy,Family,Fantasy,Musical",United States,English,107.0
3,6,2010,Tangled,"$585,574,317","$200,821,936","$384,752,381",16246,16247,Tangled,2010,...,0,0,0,1,0,"Nathan Greno,Byron Howard","Animation,Adventure,Comedy,Family,Fantasy,Musi...",United States,English,100.0
4,9,2012,Les Misérables,"$438,420,442","$148,809,770","$289,610,672",5328,5329,Les Misérables,2019,...,0,0,1,0,0,Tom Hooper,"Drama,History,Musical,Romance,War","United Kingdom,United States",English,158.0
5,13,2018,Mary Poppins Returns,"$348,901,032","$171,958,438","$176,942,594",228,229,Mary Poppins Returns,2018,...,1,0,0,0,0,Rob Marshall,"Comedy,Family,Fantasy,Musical","United States,United Kingdom",English,130.0
6,15,1965,The Sound of Music,"$286,214,195","$163,214,286","$122,999,909",16256,16257,The Sound of Music,1965,...,0,0,0,1,0,Robert Wise,"Biography,Drama,Family,Musical,Romance",United States,"English,German",172.0
7,16,2008,High School Musical 3: Senior Year,"$274,392,880","$90,559,416","$183,833,464",16380,16381,High School Musical 3: Senior Year,2008,...,0,0,0,1,0,Kenny Ortega,"Comedy,Drama,Family,Music,Musical,Romance",United States,English,112.0
8,17,1950,Cinderella,"$263,591,415","$85,000,000","$178,591,415",6492,6493,Cinderella,1965,...,0,0,1,1,0,Kenneth Branagh,"Drama,Family,Fantasy,Romance","United States,United Kingdom",English,105.0
9,20,1937,Snow White and the Seven Dwarfs,"$184,925,486","$184,925,486",NaN,16259,16260,Snow White and the Seven Dwarfs,1937,...,0,0,0,1,0,"William Cottrell,David Hand,Wilfred Jackson,La...","Animation,Family,Fantasy,Musical,Romance",United States,English,83.0
10,23,2004,The Phantom of the Opera,"$153,770,052","$51,225,796","$102,544,256",4626,4627,The Phantom of the Opera,1925,...,0,0,1,0,0,Joel Schumacher,"Drama,Musical,Romance,Thriller","United Kingdom,United States","English,Italian",143.0
11,26,1967,The Jungle Book,"$141,843,000","$141,843,000",NaN,16264,16265,The Jungle Book,1967,...,0,0,0,1,0,Jon Favreau,"Adventure,Drama,Family,Fantasy","United Kingdom,United States",English,106.0
12,27,2014,Annie,"$139,829,625","$85,911,262","$53,918,363",16487,16488,Annie,1999,...,0,0,0,1,0,John Huston,"Comedy,Drama,Family,Musical",United States,English,126.0
13,47,1982,Annie,"$57,063,861","$57,059,003","$4,858",16487,16488,Annie,1999,...,0,0,0,1,0,John Huston,"Comedy,Drama,Family,Musical",United States,English,126.0
14,28,1997,Anastasia,"$139,801,096","$58,403,409","$81,397,687",7833,7834,Anastasia,1997,...,0,0,1,0,0,"Don Bluth,Gary Goldman","Animation,Adventure,Drama,Family,Fantasy,Music...",United States,"English,Russian,French",94.0
15,29,2017,Secret Superstar,"$128,719,011",NaN,"$128,719,011",266,267,Secret Superstar,2017,...,1,0,0,0,0,Advait Chandan,"Drama,Music",India,Hindi,150.0
16,31,1964,Mary Poppins,"$102,296,454","$102,272,145","$24,309",16251,16252,Mary Poppins,1964,...,0,0,0,1,0,Robert Stevenson,"Comedy,Family,Fantasy,Musical",United States,English,139.0
17,32,2010,Burlesque,"$90,552,675","$39,440,655","$51,112,020",577,578,Burlesque,2010,...,1,0,0,0,0,Steve Antin,"Drama,Music,Musical,Romance",United States,English,119.0
18,33,1940,Fantasia,"$83,320,832","$83,320,000",$832,16268,16269,Fantasia,1940,...,0,0,0,1,0,"James Algar,Samuel Armstrong,Ford Beebe Jr.,No...","Animation,Family,Fantasy,Music",United States,English,125.0
19,34,1971,Fiddler on the Roof,"$80,501,127","$80,500,000","$1,127",4523,4524,Fiddler on the Roof,1971,...,0,0,1,0,0,Norman Jewison,"Drama,Family,Musical,Romance",United States,"English,Hebrew,Russian",181.0
20,36,1984,Footloose,"$80,007,954","$80,000,000","$7,954",3749,3750,Footloose,2011,...,0,1,1,0,0,Craig Brewer,"Comedy,Drama,Music,Romance",United States,English,113.0
21,44,2011,Footloose,"$62,989,834","$51,802,742","$11,187,092",3749,3750,Footloose,2011,...,0,1,1,0,0,Craig Brewer,"Comedy,Drama,Music,Romance",United States,English,113.0
22,37,1993,The Nightmare Before Christmas,"$77,744,972","$77,355,160","$389,812",16244,16245,The Nightmare Before Christmas,1993,...,0,0,0,1,0,Henry Selick,"Animation,Family,Fantasy,Musical",United States,English,76.0
23,43,2014,Jersey Boys,"$65,282,732","$47,047,013","$18,235,719",630,631,Jersey Boys,2014,...,1,0,0,0,0,Clint Eastwood,"Biography,Drama,Music,Musical",United States,"English,Italian,French",134.0
24,49,1970,The Aristocats,"$55,675,257","$55,675,257",NaN,16304,16305,The Aristocats,1970,...,0,0,0,1,0,Wolfgang Reitherman,"Animation,Adventure,Comedy,Family,Musical",United States,English,78.0
25,52,1980,Popeye,"$49,823,037","$49,823,037",NaN,946,947,Popeye,1980,...,1,0,0,0,0,Robert Altman,"Adventure,Comedy,Family,Fantasy,Musical,Romance",United States,English,114.0
26,63,2017,Golmaal Again,"$33,996,263","$1,013,893","$32,982,370",6318,6319,Golmaal Again,2017,...,0,0,1,0,0,Rohit Shetty,"Action,Comedy,Drama,Fantasy,Horror",India,Hindi,140.0
27,66,1969,Paint Your Wagon,"$31,678,778","$31,678,778",NaN,5701,5702,Paint Your Wagon,1969,...,0,0,1,0,0,Joshua Logan,"Comedy,Drama,Musical,Romance,Western",United States,English,164.0
28,84,2012,The Sapphires,"$20,395,040","$2,450,867","$17,944,173",396,397,The Sapphires,2012,...,1,0,0,0,0,Wayne Blair,"Biography,Comedy,Drama,Music,Romance",Australia,"English,Aboriginal",103.0
29,86,1971,Bedknobs and Broomsticks,"$17,871,174","$17,871,174",NaN,16342,16343,Bedknobs and Broomsticks,1971,...,0,0,0,1,0,"Robert Stevenson,Ward Kimball","Animation,Adventure,Comedy,Family,Fantasy,Musical",United States,"English,German",117.0
30,89,1984,Breakin' 2: Electric Boogaloo,"$15,000,000","$15,000,000",NaN,6378,6379,Breakin' 2: Electric Boogaloo,1984,...,0,0,1,0,0,Sam Firstenberg,"Comedy,Drama,Musical",United States,English,94.0
31,105,1994,Thumbelina,"$11,373,501","$11,373,501",NaN,16445,16446,Thumbelina,1994,...,0,0,0,1,0,"Don Bluth,Gary Goldman","Animation,Family,Fantasy,Musical,Romance","Ireland,United States,Canada,United Kingdom,De...",English,86.0
32,111,1961,Blue Hawaii,"$10,440,453","$10,440,453",NaN,5865,5866,Blue Hawaii,1961,...,0,0,1,0,0,Norman Taurog,"Comedy,Musical",United States,"English,Hawaiian,French",102.0
33,112,1961,Babes in Toyland,"$10,218,316","$10,218,316",NaN,16490,16491,Babes in Toyland,1961,...,0,0,0,1,0,Jack Donohue,"Comedy,Family,Fantasy,Musical,Romance",United States,English,106.0
34,148,1971,Willy Wonka & the Chocolate Factory,"$4,006,061","$4,000,000","$6,061",54,55,Willy Wonka & the Chocolate Factory,1971,...,1,0,0,0,0,Mel Stuart,"Family,Fantasy,Musical","United States,East Germany,West Germany,Belgium","English,French,German,Italian",100.0
35,158,2017,Begum Jaan,"$2,956,478",NaN,"$2,956,478",7203,7204,Begum Jaan,2017,...,0,0,1,0,0,Srijit Mukherji,"Action,Drama,History",India,Hindi,128.0
36,169,2015,Jem and the Holograms,"$2,368,937","$2,184,640","$184,297",1562,1563,Jem and the Holograms,2015,...,1,0,0,0,0,Jon M. Chu,"Adventure,Drama,Family,Fantasy,Music,Romance,S...",United States,English,118.0
37,178,2010,Chance Pe Dance,"$1,945,716","$168,643","$1,777,073",2942,2943,Chance Pe Dance,2010,...,1,0,0,0,0,Ken Ghosh,"Comedy,Drama,Music",India,"Hindi,Urdu",122.0
38,180,2017,Lucknow Central,"$1,745,085",NaN,"$1,745,085",2091,2092,Lucknow Central,2017,...,1,0,0,0,0,Ranjit Tewari,"Action,Drama,Music,Thriller",India,Hindi,133.0
39,184,2019,Teen Spirit,"$1,573,603","$441,366","$1,132,237",3854,3855,Teen Spirit,2019,...,0,1,0,1,0,Max Minghella,"Drama,Music","United Kingdom,United States","English,Polish",93.0
40,189,2018,Vox Lux,"$1,283,981","$727,119","$556,862",3926,3927,Vox Lux,2018,...,0,1,0,0,0,Brady Corbet,"Drama,Music",United States,"English,Croatian,Chinese",114.0
41,193,2000,Mohabbatein,"$1,070,000","$1,070,000",NaN,5498,5499,Mohabbatein,2000,...,0,0,1,0,0,Aditya Chopra,"Musical,Drama,Romance",India,Hindi,216.0
42,209,2018,Anna and the Apocalypse,"$654,162","$545,597","$108,565",3780,3781,Anna and the Apocalypse,2017,...,0,1,1,0,0,John McPhail,"Comedy,Horror,Musical",United Kingdom,English,93.0
43,215,2010,Standing Ovation,"$531,806","$531,806",NaN,9983,9984,Standing Ovation,2010,...,0,0,1,0,0,Stewart Raffill,Musical,United States,English,105.0
44,217,2003,Andaaz,"$526,694",NaN,"$526,694",10499,10500,Andaaz,2003,...,0,0,1,0,0,Ramesh Sippy,"Drama,Romance",India,Hindi,166.0
45,224,2005,Lucky,"$488,586","$453,507","$35,079",3638,3639,Lucky,2017,...,0,1,1,0,0,John Carroll Lynch,"Comedy,Drama,Western",United States,"English,Spanish",88.0
46,227,2000,Har Dil Jo Pyar Karega,"$406,235","$406,235",NaN,8177,8178,Har Dil Jo Pyar Karega,2000,...,0,0,1,0,0,Raj Kanwar,"Comedy,Drama,Musical,Romance",India,Hindi,173.0
47,241,2016,Ho Mann Jahaan,"$271,640","$208,611","$63,029",1888,1889,Ho Mann Jahaan,2015,...,1,0,1,0,0,"Asim Raza,Bilawal Hussain Abbasi,Shaan Sheikh,...","Drama,Musical",Pakistan,Urdu,170.0
48,254,2008,Fashion,"$191,442","$191,442",NaN,1371,1372,Fashion,2008,...,1,0,0,0,0,Madhur Bhandarkar,Drama,India,Hindi,167.0
49,262,2018,Fanney Khan,"$105,338",NaN,"$105,338",6893,6894,Fanney Khan,2018,...,0,0,1,0,0,Atul Manjrekar,"Comedy,Drama,Music",India,NaN,130.0
50,275,2017,Rangreza,"$56,979",NaN,"$56,979",2184,2185,Rangreza,2017,...,1,0,0,0,0,Amir Mohiuddin,"Music,Romance",Pakistan,Urdu,145.0
51,286,2016,Mirzya,"$33,565",NaN,"$33,565",7699,7700,Mirzya,2016,...,0,0,1,0,0,Rakeysh Omprakash Mehra,"Action,Adventure,Drama,Fantasy,Romance",India,Hindi,129.0
52,312,2017,EMO the Musical,"$8,015",NaN,"$8,015",908,909,EMO the Musical,2017,...,1,0,0,0,0,Neil Triffett,"Comedy,Music,Musical",Australia,English,94.0
53,318,2006,High School Musical,"$5,940",NaN,"$5,940",16349,16350,High School Musical,2006,...,0,0,0,1,0,Kenny Ortega,"Comedy,Drama,Family,Music,Musical,Romance",United States,"English,Spanish",98.0
54,335,2012,I Kissed a Vampire,"$1,380","$1,380",NaN,11973,11974,I Kissed a Vampire,2012,...,0,0,1,0,0,Chris Nolan,Musical,United States,English,91.0
55,337,2020,Bhangra Paa Le,"$1,180",NaN,"$1,180",2573,2574,Bhangra Paa Le,2020,...,1,0,0,0,0,Sneha Taurani,"Comedy,Drama,Music",India,Hindi,131.0
56,339,2017,Melle,$529,NaN,$529,2998,2999,Melle,2017,...,1,0,1,0,0,Binu Ulahhannan,"Drama,Family,Musical,Romance",India,Malayalam,115.0

In [19]:
rds_connection_string = "postgres:Ems0407!@localhost:5432/Movie_ETL"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [20]:
engine.table_names()

[]

In [21]:
merged_df.to_sql(name = "Movie_Data", con=engine, if_exists='replace', index = False)