In [4]:
import requests
import json
import csv
import pandas as pd
from config import omdb_key

In [5]:
#import csv
musical_csv = "../Resources/Musical_List.csv"

In [6]:
#convert csv to dataframe
musical_movie_sales = pd.read_csv(musical_csv)
musical_movie_sales1 = musical_movie_sales.copy()
musical_movie_sales1.head()

,Rank,Released,Movie,Worldwide Box Office,Domestic Box Office,International Box Office
0,1,2013,Frozen,"$1,267,856,756","$400,953,009","$866,903,747"
1,2,2017,Beauty and the Beast,"$1,255,080,655","$504,014,165","$751,066,490"
2,3,2017,Coco,"$798,237,597","$210,460,015","$587,777,582"
3,4,2016,Moana,"$636,155,760","$248,757,044","$387,398,716"
4,5,2008,Mamma Mia!,"$603,604,074","$144,130,063","$459,474,011"

In [8]:
#set up omdb api connection
url = "http://www.omdbapi.com/?t="
api_key_param = "&apikey=" + omdb_key

In [ ]:
#pull data from api