In [10]:
import requests
import json
import csv
import pandas as pd
from config import omdb_key
from pprint import pprint

In [5]:
#import csv
musical_csv = "../Resources/Musical_List.csv"

In [6]:
#convert csv to dataframe
musical_movie_sales = pd.read_csv(musical_csv)
musical_movie_sales1 = musical_movie_sales.copy()
musical_movie_sales1.head()

,Rank,Released,Movie,Worldwide Box Office,Domestic Box Office,International Box Office
0,1,2013,Frozen,"$1,267,856,756","$400,953,009","$866,903,747"
1,2,2017,Beauty and the Beast,"$1,255,080,655","$504,014,165","$751,066,490"
2,3,2017,Coco,"$798,237,597","$210,460,015","$587,777,582"
3,4,2016,Moana,"$636,155,760","$248,757,044","$387,398,716"
4,5,2008,Mamma Mia!,"$603,604,074","$144,130,063","$459,474,011"

In [8]:
#set up omdb api connection
url = "http://www.omdbapi.com/?t="
api_key_param = "&apikey=" + omdb_key

In [11]:
#pull data from api
response = requests.get(url + "Frozen" + api_key_param)
data = response.json()
pprint(data)

{'Actors': 'Kristen Bell, Idina Menzel, Jonathan Groff, Josh Gad',
 'Awards': 'Won 2 Oscars. Another 79 wins & 60 nominations.',
 'BoxOffice': '$400,953,009',
 'Country': 'USA, Norway',
 'DVD': '15 Nov 2015',
 'Director': 'Chris Buck, Jennifer Lee',
 'Genre': 'Animation, Adventure, Comedy, Family, Fantasy, Musical',
 'Language': 'English, Norwegian',
 'Metascore': '75',
 'Plot': 'When the newly crowned Queen Elsa accidentally uses her power to '
         'turn things into ice to curse her home in infinite winter, her '
         'sister Anna teams up with a mountain man, his playful reindeer, and '
         'a snowman to change the weather condition.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTQ1MjQwMTE5OF5BMl5BanBnXkFtZTgwNjk3MTcyMDE@._V1_SX300.jpg',
 'Production': 'Walt Disney Animation',
 'Rated': 'PG',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.4/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '90%'},
             {'Source': 'Metacritic', 'Value': '75/100'}],
 'Released': '27 Nov 2013',
 'Response': 'True',
 'Runtime': '102 min',
 'Title': 'Frozen',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Jennifer Lee (screenplay by), Hans Christian Andersen (story '
           'inspired by: "The Snow Queen" by), Chris Buck (story by), Jennifer '
           'Lee (story by), Shane Morris (story by)',
 'Year': '2013',
 'imdbID': 'tt2294629',
 'imdbRating': '7.4',
 'imdbVotes': '575,988'}

In [12]:
#Add data to dataframe using loop
movie_data_df = []
movie_data_df['Movie'] = ""
movie_data_df['Actors'] = ""
movie_data_df['Rating'] = ""
movie_data_df['Director'] = ""
movie_data_df['Movie'] = ""


for index,row in musical_movie_sales1.iterrows():
    try:
        movie_name = row['Movie']
        response = requests.get(url + movie_name + api_key_param)
        data = response.json()
        movie_data_df['Actors'] = data['Actors']

    except:
        print(f'No Movie {movie_name} found')
        break

No Movie Frozen found

In [19]:

for index,row in musical_movie_sales1.iterrows():
    print(index,row)
    movie_name = row['Movie']
    response = requests.get(url + movie_name + api_key_param)
    data = response.json()
    print(data['Actors'])
    movie_data_db['Actors'] = data['Actors']
    print(data['Actors'])

0 Rank                                      1
Released                               2013
Movie                                Frozen
Worldwide Box Office        $1,267,856,756
Domestic Box Office           $400,953,009
International Box Office      $866,903,747
Name: 0, dtype: object
Kristen Bell, Idina Menzel, Jonathan Groff, Josh Gad

TypeError: list indices must be integers or slices, not str